.App {
  text-align: center;
  /*animation: App-logo-spin infinite 300s linear;*/
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 150px;
}

.App-header {
  /*animation: App-logo-spin infinite 1s linear;*/
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  /*animation: App-logo-spin infinite 5s linear;*/
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {
  float: right;
  /*animation: App-logo-spin infinite 7s linear;*/
}

.nav-list li {
  display: inline;
  padding: 5px;
}

.nav-list button {
  font-size: 1em;
  border-radius: 10px;
  background-color: lime;
  /*animation: App-logo-spin infinite 7s linear;*/
}
